<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard | Detail Page</title>
        <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato|Oswald|Raleway|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="../assets/css/default.css" />
        <link rel="stylesheet" href="../assets/css/table.css" />
        <link rel="stylesheet" href="../assets/css/badger.css" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="content">
            <div class="row" style="margin-top:50px;">
                <div class="container">
                    <section class="col-md-12">
                        <!-- Accordion Start -->
                        <div class="card" style="zoom: 1; padding:0px; margin-top:0px;">
                            <div class="card-header">
                                <div class="badger-left badger-default badger-class" data-badger="+ Some Accordion" data-toggle="collapse" href="#collapseExample" style="cursor:pointer;"></div>
                            </div>
                            <div id="collapseExample" class="card-content collapse show">
                                <div class="card-body card-dashboard">
                                    <p class="card-text">Sample Text Goes here</p>
                                    <table id="incT1" class="table ttable" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Salary</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card" style="zoom: 1; padding:0px; margin-top:10px;">
                            <div class="card-header">
                                <div class="badger-left badger-default badger-class" data-badger="+ Some Accordion" data-toggle="collapse" href="#collapseExample2" style="cursor:pointer;"></div>
                            </div>
                            <div id="collapseExample2" class="card-content collapse show">
                                <div class="card-body card-dashboard">
                                    <p class="card-text">Sample Text Goes here</p>
                                    <table id="incT1" class="table ttable" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Salary</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion End -->
                    </section>
                    <section class="col-md-12">
                        
                    </section>
                </div>
            </div>
        </div>
        <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/js/default.js" type="text/javascript"></script>
    </body>
</html>